@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  /* COLORS */

  --color-white: #f9fafc;

  --color-primary-100: #eff6ff;
  --color-primary-200: #dbeafe;
  --color-primary-250: #d3e5fe;
  --color-primary-300: #8ec5ff;
  --color-primary-30035: #8ec5ff59;
  --color-primary-400: #1a80fe;
  --color-primary-500: #2b7fff;
  --color-primary-600: #155dfc;
  --color-primary-700: #0b4ee0;
  --color-primary-800: #053ebe;
  --color-primary-900: #01194d;

  --color-gray-100: #f0f3f7;
  --color-gray-200: #d5dce5;
  --color-gray-300: #b6c3d6;
  --color-gray-400: #8fa0b8;
  --color-gray-500: #62748e;
  --color-gray-600: #45556c;
  --color-gray-700: #343e4d;
  --color-gray-800: #25282e;

  /* FONTS */

  --font-roboto: "Roboto", sans-serif;
  --font-counter: "JetBrains Mono", sans-serif;

  /* SHADOWS */

  --shadow-1: 0 2px 1px 0 rgba(11, 78, 224, 0.15);
  --shadow-2: 0 2px 1px 0 rgba(37, 40, 46, 0.15);
  --shadow-inline-1:
    inset 5px 5px 10px -2px var(--color-primary-30035),
    inset -5px -5px 10px -2px #eff6ff;
}

/* RESPONSIVENESS BREAKPOINTS */
@custom-variant tablet (@media (max-width: 1024px));
@custom-variant phone (@media (max-width: 796px));
@custom-variant phone-sm (@media (max-width: 480px));

/* TYPOGRAPHY */

@layer base {
  h1 {
    font-size: 64px;
    line-height: 48px;
  }
  h2 {
    font-size: 48px;
    line-height: 54px;
  }
  h3 {
    font-size: 36px;
    line-height: 44px;
  }
  h4 {
    font-size: 30px;
    line-height: 38px;
  }
  h5 {
    font-size: 24px;
    line-height: 32px;
  }
  h6,
  p {
    font-size: 20px;
    line-height: 26px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-700 font-roboto;
  }
  p {
    @apply font-roboto text-gray-800;
  }
}

/* BASE ELEMENTS STYLES */

body {
  @apply bg-white;
}

svg {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
span {
  display: block;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
